<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yoyiyi.soleil">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".BiliSoleilApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <!-- 主界面 -->
        <activity
            android:name=".module.home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <!-- 登录界面 -->
        <activity
            android:name=".module.app.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!-- 欢迎界面 -->
        <activity
            android:name=".module.app.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 全区排行 -->
        <!-- 全站排行 -->
        <!-- 话题中心 -->
        <!-- 活动中心 -->
        <!-- 游戏中心 -->
        <!-- 全部游戏 -->
        <!-- 番剧时间表 -->
        <!-- 番剧索引 -->
        <!-- 广告界面 -->
        <!-- 浏览器界面 -->

        <service android:name=".widget.NetworkService"/>
        <!-- vip -->
        <!-- vip -->
        <!-- 番剧详情 -->

        <!-- 视频详情 -->

        <!-- up主详情 -->

        <!-- 离线缓存 -->
        <!-- 视频播放 -->

        <!--网络服务-->
        <service android:name=".widget.NetworkService"/>

    </application>

</manifest>